In [1]:
import numpy as np
import pandas as pd

In [5]:
food_data = pd.read_csv('/content/Food_Data.csv')

In [9]:
# Question 11
sum_2014 = food_data.groupby('Item')['Item', 'Y2014'].sum()
sum_2017= food_data.groupby('Item')['Item', 'Y2017'].sum()
print(sum_2017)

                         Y2017
Item
Alcohol, Non-Food      2348.00
Alcoholic Beverages   95581.06
Animal Products       11547.65
Animal fats          269617.53
Apples and products   10198.90
...                        ...
Vegetables, Other    157752.59
Vegetal Products     107655.20
Wheat and products   240047.62
Wine                   4178.02
Yams                 229174.59

[119 rows x 1 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
# Question 12
mean_2015 = food_data.mean()["Y2015"]
standard_dev = food_data.describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [13]:
# Question 15
import_quantity = food_data.groupby('Unit')['Unit'].count()
print(import_quantity)

Unit
1000 persons          45
1000 tonnes        40933
g/capita/day       10046
kcal/capita/day     5014
kg                  4905
Name: Unit, dtype: int64

In [15]:
# Question 16
food_data.groupby('Element')['Element', 'Y2014'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Y2014
Element
Domestic supply quantity                1996716.35
Export Quantity                          150020.64
Fat supply quantity (g/capita/day)        10225.56
Feed                                     216927.89
Food                                    1212332.49
Food supply (kcal/capita/day)            454257.00
Food supply quantity (kg/capita/yr)       49650.63
Import Quantity                          274144.48
Losses                                   153223.00
Other uses (non-food)                     78718.13
Processing                               282923.00
Production                              1931287.75
Protein supply quantity (g/capita/day)    11836.46
Residuals                                 30149.00
Seed                                      21922.92
Stock Variation                           58749.83
Total Population - Both sexes           1031585.00
Tourist consumption                         416.00

In [16]:
# Question 17
food_data.groupby('Element')['Element', 'Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [17]:
# Question 18
food_data.groupby('Element')['Element', 'Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                             Y2018
Element
Domestic supply quantity                2161192.10
Export Quantity                          181594.80
Fat supply quantity (g/capita/day)        10258.69
Feed                                     233489.68
Food                                    1303841.28
Food supply (kcal/capita/day)            455261.00
Food supply quantity (kg/capita/yr)       49056.85
Import Quantity                          287997.09
Losses                                   163902.00
Other uses (non-food)                     91300.97
Processing                               308429.00
Production                              2075072.89
Protein supply quantity (g/capita/day)    11833.56
Residuals                                 34864.00
Seed                                      25263.14
Stock Variation                           20577.91
Total Population - Both sexes           1140605.00
Tourist consumption                          90.00

In [19]:
# Question 19
food_data.groupby('Area')['Area', 'Y2018'].sum()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

                                  Y2018
Area
Algeria                       341729.98
Angola                        235206.68
Benin                         124960.70
Botswana                       23129.08
Burkina Faso                  112970.72
Cabo Verde                     14622.60
Cameroon                      233022.93
Central African Republic       30101.57
Chad                           72282.24
Comoros                           59.84
Congo                          42005.53
C�te d'Ivoire                 227018.00
Djibouti                       23718.96
Egypt                         852652.92
Eswatini                       55045.07
Ethiopia                      450788.86
Ethiopia PDR                       0.00
Gabon                          28339.38
Gambia                         23513.80
Ghana                         358915.64
Guinea                        103262.08
Guinea-Bissau                  18997.92
Kenya                         270916.80
Lesotho                        19109.23
Liberia                        29629.83
Madagascar                    134576.44
Malawi                        187366.09
Mali                          159026.42
Mauritania                    157479.95
Mauritius                      47150.91
Morocco                       399271.27
Mozambique                    164934.05
Namibia                        29350.04
Niger                         133982.86
Nigeria                      1499774.24
Rwanda                         74839.08
Sao Tome and Principe          12806.49
Senegal                        95493.82
Seychelles                       442.34
Sierra Leone                   55981.73
South Africa                  509787.97
Sudan                         268054.39
Sudan (former)                     0.00
Togo                           54872.00
Tunisia                       127343.17
Uganda                        222147.25
United Republic of Tanzania   349763.41
Zambia                        101604.27
Zimbabwe                       76581.41

In [ ]:
# Question 20